    <div class="row">
        <div class="example-1 card">
          <div class="wrapper">
            <div class="date">
              <span class="day">18</span>
              <span class="month">July</span>
              <span class="year">2008</span>
            </div>
            <div class="data">
              <div class="content">
                <span class="author">Currently Trending</span>
                <h1 class="title"><a href="#">The Dark Knight</a></h1>
                <p class="text">As Batman, Lt. Gordon and the district attorney continue to dismantle Gotham's criminal underground, a new villain threatens to undo their good work.</p>
                <label for="show-menu" class="menu-button"><span></span></label>
              </div>
              <input type="checkbox" id="show-menu" />
              <ul class="menu-content">
                <li>
                  <a href="#" class="fa fa-bookmark-o"></a>
                </li>
                <li><a href="#" class="fa fa-heart-o"><span>47</span></a></li>
                <li><a href="#" class="fa fa-comment-o"><span>8</span></a></li>
              </ul>
            </div>
          </div>
        </div>

<!-- Second movie -->
        <div class="example-2 card">
          <div class="wrapper">
            <div class="header">
              <div class="date">
                <span class="day"></span>
                <span class="month"></span>
                <span class="year">2018</span>
              </div>
              <ul class="menu-content">
                <li>
                  <a href="#" class="fa fa-bookmark-o"></a>
                </li>
                <li><a href="#" class="fa fa-heart-o"><span>18</span></a></li>
                <li><a href="#" class="fa fa-comment-o"><span>3</span></a></li>
              </ul>
            </div>
            <div class="data">
              <div class="content">
                <span class="author">Kana Akatsuki</span>
                <h1 class="title"><a href="#">Violet Evergarden</a></h1>
                <p class="text">The war is over, and Violet Evergarden needs a job. Scarred and emotionless, she takes a job as a letter writer to understand herself and her past.</p>
                <a href="#" class="button">Read Reviews</a>
              </div>
            </div>
          </div>
        </div>
      </div>

<!-- Third movie -->
<div class="row">
      <div class="example-3 card">
          <div class="wrapper">
            <div class="header">
              <div class="date">
                <span class="day">15</span>
                <span class="month">July</span>
                <span class="year">2016</span>
              </div>
              <ul class="menu-content">
                <li>
                  <a href="#" class="fa fa-bookmark-o"></a>
                </li>
                <li><a href="#" class="fa fa-heart-o"><span>18</span></a></li>
                <li><a href="#" class="fa fa-comment-o"><span>3</span></a></li>
              </ul>
            </div>
            <div class="data">
              <div class="content">
                <span class="author">Most Popular</span>
                <h1 class="title"><a href="#">Stranger Things</a></h1>
                <p class="text">When a young boy vanishes, a small town uncovers a mystery involving secret experiments, terrifying supernatural forces and one strange little girl.</p>
                <a href="#" class="button">Read Reviews</a>
              </div>
            </div>
          </div>
        </div>

<!-- Fourth movie -->
         <div class="example-4 card">
          <div class="wrapper">
            <div class="date">
              <span class="day">2</span>
              <span class="month">Oct</span>
              <span class="year">2002</span>
            </div>
            <div class="data">
              <div class="content">
                <span class="author">Most Popular Anime</span>
                <h1 class="title"><a href="#">Naruto</a></h1>
                <p class="text">Guided by the spirit demon within him, orphaned Naruto learns to harness his powers as a ninja in this anime adventure series.</p>
                <label for="show-menu" class="menu-button"><span></span></label>
              </div>
              <input type="checkbox" id="show-menu" />
              <ul class="menu-content">
                <li>
                  <a href="#" class="fa fa-bookmark-o"></a>
                </li>
                <li><a href="#" class="fa fa-heart-o"><span>47</span></a></li>
                <li><a href="#" class="fa fa-comment-o"><span>8</span></a></li>
              </ul>
            </div>
          </div>
        </div>
        